html {
    height: 100%;
}

body {
    font-family: Georgia, Garamond, Times, serif;
    height: 100%;
}

a {
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline !important;
}

a:visited {
    color: black;
}

h1 {
    margin-top: 0;
}

#pensieve-header {
    height: 60px;
    border-bottom: 2px solid black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: steelblue;
    color: white;
}

#pensieve-header a {
    text-decoration: none;
}

/*
#pensieve-header a:hover {
    background-color: white;
    color: steelblue !important;
}
*/

#pensieve-header a:visited {
    color: white !important;
}

#pensieve-header-wrapper {
    width: 80%;
    margin: auto;
}

#pensieve-greeting {
    float: right;
    padding-right: 10px;
}

#pensieve-logo {
    display: inline-block;
    margin-top: 5px;
}

#pensieve-logo h1 {
    font-family: "Edwardian Script ITC", cursive;
    font-size: 36pt;
    display: inline;
    padding-left: 10px;
}

#pensieve-logo img {
    float: left;
    padding-top: 5px;
}

#pensieve-logo a:hover {
    text-decoration: none !important;
}

#pensieve-nav {
    display: inline-block;
    width: 50%;
    text-align: center;
}

#pensieve-nav p {
    display: inline-block;
}

#pensieve-content {
    margin: 80px auto;
    padding: 10px;
    height: 90%;
    width: 80%;
}

#pensieve-footer {
    background-color: lightgray;
    font-size: 11pt;
    font-variant: small-caps;
    height: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid gray;
}

.pensieve-callout {
    background-color: steelblue;
    border-radius: 10px;
    border: 1px solid black;
    color: white;
    padding: 0 15px;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.error {
    color: #d82240;
}

.small {
    font-size: 0.75em;
    padding-right: 30px;
}

.right-align {
    text-align: right;
}

h1.pensieve-content-logo {
    font-family: "Edwardian Script ITC", cursive;
    font-size: 64pt;
    margin: 0;
}

ul.spaced-list li {
    padding-bottom: 10px;
}


/* Forms and Form Tables */

label {
	float: left;
	padding-top: 5px;
	width: 135px;
	text-align: right;
    font-size: 14pt;
}

input, select, textarea {
	padding: 5px;
    width: 100%;
    height: 30px;
	font: normal 1em Verdana, Arial, Helvetica, sans-serif;
	border: 2px solid #999999;
    border-radius: 5px;
}

input.submit {
    width: 160px;
    height: 55px;
    background: steelblue;
    color: #eeeeee;
    cursor: pointer;
    margin-top: 10px;
}

input:focus, select:focus, textarea:focus {
	border: 2px solid steelblue !important;
    outline: none;
}

input[type=checkbox] {
    width: auto;
    margin-bottom: 0;
}

section.form-wrapper {
    padding: 10px;
    background-color: #dddddd;
    border-radius: 10px;
    border: 2px solid black;
    width: 90%;
    margin: auto;
}

table.form {
    margin: 10px auto;
    width: 100%;
    border-collapse: collapse;
}

table.form tr {
    margin: 0;
}

table.form tr td {
    vertical-align: middle;
}

table.form tr td.error {
    color: #d82240;
    max-width: 150px;
}

table.form tr td.error ul {
    list-style-type: none;
    margin: 0;
}

table.form tr td.small {
    font-size: 0.85em;
}

table.form tr td.label {
    width: 150px;
}

table.form tr td.left-padded {
    padding-left: 10px;
}

table.form tr td.right-padded {
    padding-right: 10px;
}

table.form tr td.right-full-padded {
    padding-right: 40px;
}

table.form tr td.help-text {
	color: #999999;
    padding-bottom: 10px;
}

table.form tr td {
    padding-bottom: 20px;
}

table.form tr td.bottom {
    padding-bottom: 0;
}

table.form tbody tr td.subheading {
    font-weight: bold;
    font-size: 1.1em;
    border-bottom: 2px solid black;
    padding-bottom: 15px
}