{% extends 'pensieve_base.html' %}

{% block content %}
    <h1 class="pensieve-content-logo">Pensieve</h1>
    <p>Welcome to Pensieve!</p>
    <article class="pensieve-callout">
        <p class="italic">&quot;I use the Pensieve. One simply siphons the excess thoughts from one's mind, pours them into the basin, and examines them at one's leisure. It becomes easier to spot patterns and links, you understand, when they are in this form.&quot;</p>
        <p class="right-align">&mdash; Albus Dumbledore in J.K. Rowling's <span class="italic">Harry Potter and the Goblet of Fire</span></p>
    </article>
{% endblock %}