{% extends 'pensieve_base.html' %}

{% block content %}
    {% csrf_token %}
    <section class="form-wrapper">
    <table class="form">
        <tbody>
            <tr>
                <td {% if form.first_name.errors or form.last_name.errors %}class="error"{% endif %}>
                    <label for="{{ form.first_name.id_for_label }}">Name</label>
                </td>
                <td class="right-padded">
                    {{ form.first_name }}
                </td>
                <td class="left-padded">
                    {{ form.last_name }}
                </td>
                <td class="error small">
                    <ul>
                        {% for error in form.first_name.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                        {% for error in form.last_name.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <td {% if form.email.errors %}class="error"{% endif %}>
                    {{ form.email.label_tag }}
                </td>
                <td colspan="2">
                    {{ form.email }}
                </td>
                <td class="error small">
                    <ul>
                        {% for error in form.email.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <td {% if form.password.errors %}class="error"{% endif %}>
                    {{ form.password.label_tag }}
                </td>
                <td colspan="2">
                    {{ form.password }}
                </td>
                <td class="error small">
                    <ul>
                        {% for error in form.password.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <td colspan="3" align="center">
                    <input class="submit" type="submit" value="Register" />
                </td>
            </tr>
        </tbody>
    </table>
    </section>
{% endblock %}