{% extends 'pensieve_base.html' %}

{% block title %}
    Register | {{ block.super }}
{% endblock %}

{% block content %}
    <h1>Register</h1>
    <section>
        Getting started is quick and easy. A few tips for filling out the form:
        <ul class="spaced-list">
            <li><span class="bold">Use your real first and last name.</span> If you prefer to go by your middle name or another name, you will be able to provide that information later.</li>
            <li><span class="bold">Use an email address you can access easily.</span> Pensieve will verify your email address by sending you an email after you register.</li>
            <li><span class="bold">Choose a strong password.</span> Your password should be at least eight (8) characters long and should not be overly simple (such as a common noun).</li>
        </ul>
    </section>
    <section class="form-wrapper">
        <form id="pensieve-register" name="pensieve-register-form" action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <table class="form">
                <tbody>
                    <tr>
                        <td class="label {% if form.first_name.errors or form.last_name.errors %}error{% endif %}">
                            <label for="{{ form.first_name.id_for_label }}">Name</label>
                        </td>
                        <td class="right-padded">
                            {{ form.first_name }}
                        </td>
                        <td class="left-padded">
                            {{ form.last_name }}
                        </td>
                        <td class="error small">
                            <ul>
                                {% for error in form.first_name.errors %}
                                    <li>{{ error|escape }}</li>
                                {% endfor %}
                                {% for error in form.last_name.errors %}
                                    <li>{{ error|escape }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="label {% if form.email.errors %}error{% endif %}">
                            {{ form.email.label_tag }}
                        </td>
                        <td colspan="2">
                            {{ form.email }}
                        </td>
                        <td class="error small">
                            <ul>
                                {% for error in form.email.errors %}
                                    <li>{{ error|escape }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="label {% if form.password.errors %}error{% endif %}">
                            {{ form.password.label_tag }}
                        </td>
                        <td colspan="2">
                            {{ form.password }}
                        </td>
                        <td class="error small">
                            <ul>
                                {% for error in form.password.errors %}
                                    <li>{{ error|escape }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" align="center" class="bottom">
                            <input class="submit" type="submit" value="Register" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </section>
{% endblock %}